@font-face {
    font-family: "Fantasque";
    src:
        url("../fonts/FantasqueSansMono-Regular.woff2") format("woff2"),
        url("../fonts/FantasqueSansMono-Regular.woff") format("woff");
}

body {
    background: #121212;
    color: #fff;
    font-family: Sans-Serif;
    font-size: 14pt;
}

a {
    color: #fff;
    transition: ease .2s;
}

a:hover {
    color: #82aaff;
    transition: ease .2s;
}

.cmd-description {
   margin-bottom: 8px;
}

.cmd-snippet {
    border: 1px solid #454545;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Fantasque, monospace;
    font-size: 14pt;
    padding: 8px;
}

.cmd-program {
    color: #c3e88d;
}

.cmd-args {
    color: #ffcb6b;
} 

.cmd-section {
    margin-bottom: 30px;
}

.cmd-prompt {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question {
    font-size: 24pt;
    margin-bottom: 8px;
}

.answer {
    margin-bottom: 30px;
}

.list {
    list-style: none;
    padding: 0;
}

.list > li {
    display: inline-block;
}

.list > li > a {
    border: 1px solid #454545;
    border-radius: 4px;
    display: block;
    height: 100%;
    margin-bottom: 8px;
    padding: 8px;
    text-decoration: none;
}

.list > li > a:hover {
    border: 1px solid #c792ea;
    color: #c792ea;
    text-decoration: none;
}

.section {
    margin-bottom: 60px;
}

.section-title {
    font-size: 30pt;
    font-weight: bold;
    margin-bottom: 20px;
}

#container {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    max-width: 768px;
}

#quick-links {
    background: #121212;
    border-bottom: 1px solid #454545;
    box-sizing: border-box;
    left: 0;
    list-style: none;
    margin-top: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

#quick-links > li {
    display: inline-block;
    margin-left: 20px;
}

#quick-links > li > a {
    text-decoration: none;
}
